.current {
    border-top: 3px solid #44697b;
}

.logo {
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 10px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}

.nav-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-links a {
    margin: 0 10px;
    padding: 5px 10px;
    //border-radius: 4px;
    transition: background-color 0.3s;
    height: calc(100% - 11px);
    display: flex;
    align-items: center;
    color: #44697b;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #44697b;
    color: white;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: white;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .nav-links a {
        margin: 10px;
    }
    .nav-toggle:checked ~ .nav-links {
        display: flex;
    }
}

