<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    </head>
    <body>
        {% include navigation.html %}
        <hr>
        <main>
        {{ content }}
        </main>
        <script>
            document.getElementById('nav-overlay').addEventListener('click', function() {
                document.getElementById('nav-toggle').checked = false;
            });
            window.addEventListener('pageshow', function() {
                document.getElementById('nav-toggle').checked = false;
            });
        </script>
    </body>
</html>